
.table-container {
  width: 100%;
  height: 100%;
}
.wrapper {
  height: 500px;
  table-layout: fixed;
  
  overflow: scroll;
  
}

table {
    width: 100%;
    height: 500px;
    table-layout: fixed;
    overflow: scroll;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
  

  .mat-table-sticky {
    background-color: #2F4163;
    color: rgb(255, 255, 255);
    width: 26px;
    height: 18px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11.9941px;
    line-height: 18px;
    letter-spacing: 0.01em;
    text-align: center !important;
}

 
  