.root {
    height: 98% !important;
    width: 100% !important;

    overflow-y: auto;
    
    &::-webkit-scrollbar {
        width: 0.4em;
        height: 0.5em;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgb(211, 101, 101);
        border-radius: 150px;

        &:hover {
            background: #027D7C;
        }
    }
}

::ng-deep .mat-accordion {
    width: 100% !important;
    height: 90% !important;
    margin: 10px;

}

::ng-deep .mat-expansion-panel {
    width: 100% !important;
    background-color: rgb(71, 84, 107);


 }

::ng-deep .mat-expansion-panel-header {
    //background-color: rgb(71, 84, 107);
    background-color: #2F4163;
 }

.title{
    //background-color: rgb(71, 84, 107);
    color: white !important
 }

 ::ng-deep .mat-expansion-indicator::after {
    //background-color: rgb(71, 84, 107);
    color: white !important
  }
/* .expansion {
    width: 90%;
    height: auto;
    color: black;
    border: 1px solid red
} */

/* .expansion-content {
    width: 90%;
    height: auto;
    color: black;
} */


.list-div {
    width: 100%;
    height: 100%;
}

.report-list {
    width: 100%;
    height: 100%;
}

.item-header {
    font-size: 0.7rem;
    overflow-wrap: break-word;
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    color: rgb(230, 225, 225);
    
}

.item-data {
    display: flex;
    align-items: center;
    color: rgb(241, 240, 240);
    font-size: 0.8rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    width: 50%;
    height: 50px;
}

.button-div {
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.report-button {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2F4163;
}